* {
  padding: 0;
  margin: 0;
}

.footer {
  width: 900px;
  height: 800px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
}

.line {
  width: 50px;
  height: 3px;
  background-color: bisque;
}

h5 {
  font-size: 18px;
  font-weight: 600;
}

.left * {
  margin-bottom: 20px;
}

.left div {
  display: flex;
  flex-direction: row;
  color: grey;
}

.left i {
  margin-right: 15px;
}


.right {
  margin-left: 50px;
  margin-top: 50px;
}

.right h5 {
  text-transform: capitalize;
}

.right input[type="text"],
input[type="email"],
textarea,
h5 {
  border: 0.5;
  width: 100%;
  margin-bottom: 20px;
  padding: 5px;
}

.right input[type="submit"] {
  color: white;
  padding: 10px 25px;
  background-color: rgb(0, 193, 129);
  border-radius: 2px;
  border: none;
}
